.DS_Store
arg_covid.pdf
.DS_Store
data/tmp/
selenium-server-standalone.jar
minsalud/
.RData
.Rhistory
data/old_scrape/tmp/Covid19CasosAug12.csv
rtable.html
rtableSnapshot.png
tmp-pdfcrop-80788.tex
.Rproj.user
